<div class='devise-form'>
<%= form_for [@state, @station, @program] do |f| %>
      <%= f.label :"Program: " %>
      <%= f.text_field :name %>

    <%= f.label :"Day: " %>
    <%= f.text_field :day %>
  <br>
  <br>


  <%= f.label :"Time: " %>
  <%= f.text_field :time %>


  <%= f.label :"Host: " %>
  <%= f.text_field :host %>
  <br>
  <br>


  <%= f.label :"Description: " %>
  <%= f.text_field :description %>


  <%= f.label :"URL: " %>
  <%= f.text_field :program_url %>
  <br>
  <br>


  <%= f.submit %>
<% end %>
</div>
