<div class='devise-form'>
<%= form_for [@state, @station, @program] do |f| %>
  <%= f.label :Program %>
  <%= f.text_field :name %>
  

  <%= f.label :Day %>
  <%= f.text_field :day %>


  <%= f.label :Time %>
  <%= f.text_field :time %>


  <%= f.label :Host %>
  <%= f.text_field :host %>


  <%= f.label :Description %>
  <%= f.text_field :description %>


  <%= f.label :URL %>
  <%= f.text_field :program_url %>
  <br>


  <%= f.submit %>
<% end %>
</div>
