<p class='program-name'><%= @program.name %></p>
<p><%= "Hosted by #{@program.host}" %></p>
<p class='body'><%= @program.description %></p>
<p class='air-time'><%= "Airing every #{@program.day} at #{@program.time}" %></p>

<% if @program.users.include? current_user %>
      <%= "Love this program? Add it to your favorites." %> <%=link_to "&hearts;".html_safe, state_station_program_add_favorite_path(@state, @station, @program), method: :delete, class: "fav" %>
    <% else %>
      <%= link_to "&hearts;".html_safe, state_station_program_add_favorite_path(@state, @station, @program), method: :post, class: "no-fav" %>
    <% end %>
