<div class='program-summary'>
  <% if @program.users.include? current_user %>
      <p class='add-fave'><%= "You love it." %> <%=link_to "&hearts;".html_safe, state_station_program_add_favorite_path(@state, @station, @program), method: :delete, class: "fav" %></p>
    <% else %>
      <%=link_to "&hearts;".html_safe, state_station_program_add_favorite_path(@state, @station, @program), method: :post, class: "no-fav" %> <span class="favorites"><%= "Add this program to your favorites list" %></span>
    <% end %>
<h1 class='state-title'> <%= "#{@program.name} on"%> <%= link_to "#{@station.acronym}", state_station_programs_path(@state, @station) %></h1>
<p><%= "Hosted by #{@program.host}" %></p>
<p class='body'><%= @program.description %></p>
<p class='air-time'><%= "Airing every #{@program.day} at #{@program.time}" %></p>
<p class='link-out'><%=link_to "Check out the program page and archived episodes", "#{@program.program_url}" %></p>
<hr>


    <div class="comments">
    <h3>Let's Discuss</h3>
    <%= link_to "Start a conversation about this program", new_state_station_program_comment_path(@state, @station, @program) %>
    <% @program.comments.each do |comment| %>
    <div>
      <p><%= comment.text %></p>
      <% if(current_user == comment.user)%>
        <%= link_to "Edit this Comment", edit_state_station_program_comment_path(@state, @station, @program, comment) %> |
        <%= link_to "Delete this Comment", state_station_program_comment_path(@state, @station, @program, comment), method: :delete %>
      <% end %>
    </div>
    <% end %>
    </div>
</div>
