<!DOCTYPE html>
<html>
  <head>
    <title>ProjectTwo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application',
'https://fonts.googleapis.com/css?family=Signika',
 media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="user-info">
        <% if current_user %>
          Welcome, <%= current_user.email %>
          <%= link_to 'Signout', destroy_user_session_path, :method => :delete %>
        <% else %>
          <span class='login'><%= link_to 'Signup', new_user_registration_path %></span>
          <span class='login'><%= link_to 'Login', new_user_session_path %></span>
        <% end %>
      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="content">
      <header>Folk, Bluegrass and Strings Collective
        <div class="menu">
          <ul class = "nav">
            <li><%= link_to "Back to State Selection", root_path %></li>
            <li><%= link_to "View your favorites", favorites_path %></li>

        </div>
        <hr>
      </header>
    <%= yield %>
  </body>
</html>
